<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top d-block d-md-none">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">OAK/DepthAI文档</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/api/">Python API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/FAQ/">问题解答</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/troubleshooting/">故障排查</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="/support/">技术支持</a>
            </li>  
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">产品</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% assign sorted = (site.products | sort: 'order' | where_exp: "item", "item.hide != true") %}
                    {% for p in sorted %}
                    <a class="dropdown-item" href="{{ p.url }}">
                    {% if p.toc_title %}
                      {{ p.toc_title }}
                    {% else %}
                      {{ p.title }}
                    {% endif %}
                  </a>
                  {% endfor %}  
                </div>              
              </li>           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">教程</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% assign sorted = (site.tutorials | sort: 'order' | where_exp: "item", "item.hide != true") %}
                    {% for p in sorted %}
                      <a class="dropdown-item" href="{{ p.url }}">
                      {% if p.toc_title %}
                        {{ p.toc_title }}
                      {% else %}
                        {{ p.title }}
                      {% endif %}
                    </a>
                    {% endfor %} 
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    代码示例
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% assign sorted = (site.examples | sort: 'order' | where_exp: "item", "item.hide != true") %}
                    {% for p in sorted %}
                      <a class="dropdown-item" href="{{ p.url }}">
                      {% if p.toc_title %}
                        {{ p.toc_title }}
                      {% else %}
                        {{ p.title }}
                      {% endif %}
                    </a>
                    {% endfor %}
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    自定义训练
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="https://colab.research.google.com/github/luxonis/depthai-ml-training/blob/master/colab-notebooks/Easy_Object_Detection_Demo_Training.ipynb">
                        教程 - MobileNetSSD 训练
                      </a>
                      <a class="dropdown-item" href="https://colab.research.google.com/github/luxonis/depthai-ml-training/blob/master/colab-notebooks/Easy_Object_Detection_With_Custom_Data_Demo_Training.ipynb">
                        教程 - MobileNetSSD 自定义数据训练
                      </a>
                      <a class="dropdown-item" href="https://colab.research.google.com/github/luxonis/depthai-ml-training/blob/master/colab-notebooks/Easy_TinyYolov3_Object_Detector_Training_on_Custom_Data.ipynb">
                        教程 - 基于YOLO的口罩检测
                      </a>
                      <a class="dropdown-item" href="https://colab.research.google.com/github/luxonis/depthai-ml-training/blob/master/colab-notebooks/GDrive-Resize.ipynb">
                        工具 - Google云盘图像批量缩放
                      </a>
                </div>
              </li>              
          </ul> 
    </div>
  </nav>
