

.cta-row-short h5 {
    margin-bottom: 0;
}

#lux-global-navbar {
    top: 0px;
    background: #f2f2f2;
}

#lux-doc-navbar {
    top: 78px;
    background: #2b2b2b;
}

.lux-navbar{
    display: flex;
}

.lux-navbar-container {
    padding: 1.5em 1em;
    width: 100%;
    height: auto;
    overflow: auto;
    z-index: 100;
}

.lux-navbar ul {
    float: right;
    vertical-align: middle;
}

.lux-navbar ul > li {
    display: inline-block;
    vertical-align: middle;
}

a {
    font-weight: 600; 
    font-size: 16px;
}
a:hover{ color:#03a9f4}


.lux-navbar a {
    padding: 8px 13px;
    color: #000;
}

#lux-doc-navbar a {
    padding: 8px 13px;
    font-weight: 600;
    color: #fff;
}

#lux-doc-navbar .lux-navbar-active-{
    color: #03a9f4;
}


#lux-global-navbar .lux-navbar a:hover {
    color: #03a9f4;
}

#lux-global-navbar .lux-navbar-active {
    color: #03a9f4;
}
.wy-nav-side {
    top: 146px;
    background: #eeeeee;
}

.sticky {
    top: 0;
}

#version {
    color: white;
}

div[role=search] {
    margin-top: 1em;
}

.wy-side-nav-search {
    background-color: #eeeeee;
}

.wy-nav-top {
    background-color: #eeeeee;
}

.wy-menu-vertical li ul li a {
 color:#404040;
}
.wy-menu-vertical a {
 color:#404040
}
.wy-menu-vertical a:hover {
 background-color:#cccccc;
}
.wy-menu-vertical a:hover span.toctree-expand {
 color:#404040
}
.wy-menu-vertical a:active {
 background-color:#2980B9;
 color:#fff
}
.wy-menu-vertical a:active span.toctree-expand {
 color:#fff
}

.wy-side-nav-search a {
    color: #404040;
}




.navbar{
    width: 80%;
    height: 62px;
    text-align:middle;
    white-space: nowrap;
}     
.navbar_menu{
    height: 70%;
    padding-top:20px;
    width: 80%;
    display: flex;
    float: right;
}

.menu_list{
    display: flex;
    padding-left: 50%;
    vertical-align: middle;
}

.img{
    display: flex;
}

.img img{
    vertical-align: middle;
    width: 120px;
    height: 25px;
}

.drop-menu {
    position: relative;
    display: inline-block;
    width: 80px;
}

.hover-btn {
    text-align: center;
    cursor: pointer;
}

.down:hover .up{
    display: block;
}

.hover-btn>a{
    color: black;
    text-align: center;
}

.drop-content {
    display: none;
    position: absolute; 
    z-index: 1; 
}

.drop-menu:hover .drop-content {
    display: block;
}

.drop-menu:hover .hover-btn>a {
    color: #03a9f4;
}

a{
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-style:normal;
    font-weight:600;
    text-decoration: none;
}
.drop-content a{
    background-color: #fff;
    list-style: none;
    color: #6B7C93;
    line-height: 120%;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    display: list-item;
}
.drop-content a:hover{
    color: #000;
}

a.hover-btn-active{
    color: #03a9f4;
}   

.up-down{
    width: 10px;
    height: 10px;
}

